---
title: Le Wagon - Middleman
---

<div id="sdsd">
  <%= partial "layouts/banner" %>
</div>

<div id="xxfd">

  <h2 class="text-center">Some of our best flats :</h2>
  <br>
  <%= partial "layouts/cards" %>
</div>
